<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>newadmin</title>
        <link rel="stylesheet" href="main.css">
    </head>

    <body>
        <div class="container has-text-centered is-verticaly-center">
            <form action="/login/newadmin" method="post">
                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" type="text" name="name" placeholder="admin" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control has-icons-left">
                        <input class="input" type="password" name="password" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <button class="button is-fullwidth">
                        <span class="icon">
                            <i class="fas fa-plus fa-lg has-text-grey-dark"></i>
                            <i class="fas fa-user-cog fa-lg has-text-grey-dark"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </body>

</html>
