<% include ../../../views/header %>
<h1><%= titre %></h1>
validation de comptes mails (test)

<form action="/validation-mail" method="POST">
  <div class="form-group">
    <input type="email" class="form-control" placeholder="envoyer une validation d'adresse mail à ..." name="email">
  </div>
</form>

<% include ../../../views/footer %>
