<!DOCTYPE html>
<html lang="en" class="has-background-grey-dark">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>text</title>
        <link rel="stylesheet" href="main.css">
    </head>

    <body>
        <div class="container has-text-centered is-verticaly-center has-text-white">

            <div class="container">
                <p><%= iduser %></p>
            </div>
            <div class="container">
                <span class="icon is-large py-6">
                    <a class="fas fa-keyboard fa-3x has-text-white" href="/text/generate.txt" download="generate.txt"></a>
                </span>
            </div>

            <div class="container">
                <form id="send-file-form" action="/text" method="post" enctype="multipart/form-data">
                    <div id="filename-to-send" class="field">
                        <div class="file is-centered is-boxed has-name">
                            <label class="file-label">
                                <input class="file-input" type="file" name="resume">
                                <span class="file-cta">
                                    <span class="icon is-large py-6">
                                        <i class="fas fa-upload fa-3x has-text-grey-dark"></i>
                                    </span>
                                    <span class="file-label">
                                    </span>
                                </span>
                                <span class="file-name">
                                    ...
                                </span>
                            </label>
                        </div>
                    </div>
                </form>
            </div>

        </div>

        <script>
            const fileInput = document.querySelector('#filename-to-send input[type=file]')
            fileInput.onchange = () => {
                if (fileInput.files.length > 0) {
                    const fileName = document.querySelector('#filename-to-send .file-name')
                    fileName.textContent = fileInput.files[0].name
                    document.querySelector('#send-file-form').submit()
                }
            }
        </script>

    </body>

</html>
