@charset "utf-8";

// Définir les couleurs
$color1: rgba(33, 15, 4, 1);
$color2: rgba(69, 33, 3, 1);
$color3: rgba(105, 5, 0, 1);
$color4: rgba(147, 75, 0, 1);
$color5: rgba(187, 107, 0, 1);

// Modifier les variables globales
// $white: $white;
// $black: $black;
// $light: $beige-light;
// $dark: $darky;
$primary: $color4;
// $link: $purple;
// $info: $brown;
// $success: $success;
// $warning: $warning;
// $danger: $danger;
// $shades
// $black-bis: $black-bis;
// $black-ter: $black-ter;
// $grey-darker: $grey-darker;
// $grey-dark: $grey-dark;
// $grey-light: $grey-light;
// $grey-lighter: $grey-lighter;
// $white-ter: $white-ter;
// $white-bis: $white-bis;

// Modifier les variables de composents
// $body-background-color: $darky;

@import "./node_modules/bulma/bulma.sass";