<% include header %>

<hr />

<form class="form-inline was-validated" action="/base/enregistrement" method="post">
  <div class="form-group">
    <input type="text" class="form-control" id="validationTooltip" name="message" placeholder="Votre message ?"
      required />
    <button type="submit" class="btn btn-success">Enregistrement</button>
    <div class="valid-feedback">Message valide, vous pouvez envoyer !</div>
    <div class="invalid-feedback">Merci de fournir un message.</div>
  </div>
</form>
<br>
<form class="form-inline" action="/base/chercher" method="post">
  <div class="form-group">
    <input type="text" class="form-control" name="recherche" placeholder="Que cherchez vous ?"
      required />
    <button type="submit" class="btn btn-warning">Chercher</button>
  </div>
</form>
<br>
<hr />

<div class="container">
  <h2>Contenu de base</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>entree</th>
        <th>created_at</th>
      </tr>
    </thead>
    <tbody>
      <% for (const ligne of lignes) { %>
      <tr>
        <td><%= ligne.id %></td>
        <td><%= ligne.entree %></td>
        <td><%= ligne.created_at %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<hr />

<% include footer %>
