<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Envoie d'images sur le serveur</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap_darkly.min.css" />
        <link rel="shortcut icon" type="image/png" href="/images/icone.png" />
    </head>

    <body>
        <a href="/" class="btn btn-link">Retour</a>

        <div class="container-fluid" style="padding-right: 12rem; padding-left: 12rem;">
            <h1>Envoie d'images sur le serveur</h1>
            <% include ./messages/basique %>
            <div class="container mt-3">
                <form action="/envoiimages" method="POST" enctype="multipart/form-data">
                    <!--
                    <input type="file" id="myFile" name="fichierPourLeServeur">
                -->
                    <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" id="customFile" name="fichierPourLeServeur">
                        <label class="custom-file-label" for="customFile">choisir un fichier sur votre
                            ordinateur</label>
                    </div>
                    <div class="mt-3">
                        <button type="submit" class="btn btn-primary">Envoyé</button>
                    </div>
                </form>
            </div>
            <% if(typeof lesfichiersenvoyés != 'undefined'){ %>
            <% lesfichiersenvoyés.forEach(fichier => { %>
            <img src="/stockage/<%= fichier %>" class="img-fluid rounded mx-auto d-block" alt="<%= fichier %>">
            <hr>
            <% }) %>
            <% } %>
            <script>
                // Add the following code if you want the name of the file appear on select
                $(".custom-file-input").on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
                });
            </script>
    </body>
    <script src='/javascripts/jquery-3.4.1.slim.min.js'></script>
    <script src='/javascripts/bootstrap.min.js'></script>

</html>
