<% include header %>

<hr />

<form action="/flasheur" method="POST">
    <div class="form-group">
        <textarea class="form-control" rows="5" id="comment" name="message"></textarea>
    </div>
    <button type="submit" class="btn btn-success" name="successbut">Succes</button>
    <button type="submit" class="btn btn-danger" name="erreurbut">Erreur</button>
    <button type="submit" class="btn btn-primary" name="basicbut">Basique</button>
</form>

<hr />

<% include footer %>
