</div>

<a href="http://127.0.0.1:8000">adminer</a>

<script src='/javascripts/jquery-3.4.1.slim.min.js'></script>
<script src='/javascripts/popper.min.js'></script>
<script src='/javascripts/bootstrap.min.js'></script>
<link href="/summernote/summernote-bs4.min.css" rel="stylesheet">
<script src="/summernote/summernote-bs4.min.js"></script>
<script src="/summernote/lang/summernote-fr-FR.min.js"></script>

<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            lang: 'fr-FR'
        });
    });
</script>
</body>

</html>
