</div>

<div class="container">
    <p class="text-center">
        <a href="http://127.0.0.1:8000">adminer</a>
    </p>
</div>

<script src='/javascripts/jquery-3.4.1.slim.min.js'></script>
<script src='/javascripts/bootstrap.min.js'></script>
</body>

</html>
