<!DOCTYPE html>
<html>

<head>
  <title><%= typeof title != 'undefined' ? title : '' %></title>
  <link rel="stylesheet" href="/stylesheets/bootstrap_darkly.min.css" />
  <link rel="shortcut icon" type="image/png" href="/images/icone.png" />
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/">Acceuil</a>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="navbar-brand dropdown-toggle" href="/" id="navbarDropdownMenuLink1" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            1erlot
          </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
          <a class="dropdown-item" href="/base">EntreeRechercheBDD</a>
          <a class="dropdown-item" href="/mail">EnvoieMail</a>
          <a class="dropdown-item" href="/spacex">SpaceXAPI</a>
          <a class="dropdown-item" href="/uuid">GenUUID</a>
          <a class="dropdown-item" href="/radcheck">SaveRadCheck</a>
          <a class="dropdown-item" href="/utilisateurs/creation">UserCreate</a>
          <a class="dropdown-item" href="/utilisateurs/liste">UserList</a>
      <li class="nav-item dropdown">
        <a class="navbar-brand dropdown-toggle" href="/authentificationsession" id="navbarDropdownMenuLink2"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            AuthSession
          </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
          <a class="dropdown-item" href="/authentificationsession/enregistre">Enregistrement</a>
          <a class="dropdown-item" href="/authentificationsession/login">Login</a>
          <a class="dropdown-item" href="/authentificationsession/test">TestSession</a>
          <a class="dropdown-item" href="/authentificationsession/chat">Le chat</a>
        </div>
      </li>
      </div>
      </li>
    </ul>
    <a class="navbar-brand" href="/mailtemplate">MailTemplate</a>
    <a class="navbar-brand" href="/envoiimages">Images</a>
    <a class="navbar-brand" href="/flasheur">Flasheur</a>
    <a href="/listeneur" class="navbar-brand">Listeneur</a>
    <a href="/validation-mail" class="navbar-brand">ValidMail</a>
    <a href="/action-serveur" class="navbar-brand">Serveur</a>
    </div>
  </nav>
  <div class="container-fluid">
    <br>
