<% include header %>

<h1><%= title %></h1>

<hr>
<br>
<h2><%= uid %></h2>
<h3>il y a <%= compteur %> uuid enregistrés</h3>
<br>
<form action="/uuid" method="post">
  <button class="btn btn-secondary" name="subject" type="submit" value="creer_uuid">Créer un nouvel UUID</button>
</form>
<br>
<hr>

<% include footer %>
