<div class="modal modal-aide">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Aide</p>
      <button class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <p id="texteAide"></p>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-primary" aria-label="close">Fermer</button>
    </footer>
  </div>
</div>

<footer class="footer has-background-grey-light">
  <div class="container">
    <nav class="level">
      <p class="level-item has-text-centered">
        <a class="link is-info" href="/presentation">Presentation</a>
      </p>
      <p class="level-item has-text-centered">
        <a class="link is-info" href="/legals">Mentions Légales</a>
      </p>
      <p class="level-item has-text-centered">
        <img src="/images/logo-texte-small.jpg" width="110" height="30">
      </p>
        <p class="level-item has-text-centered">
          <a class="link is-info" href="/faq">FAQ</a>
        </p>
        <p class="level-item has-text-centered">
          <a class="link is-info" href="/documentation">Documentation</a>
        </p>
    </nav>
    <p class="subtitle has-text-centered is-6">&copy; 2020 Template</p>
  </div>
</footer>

</div>
</body>

</html>
