<% include ../header %>
<h1><%= title %></h1>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <h1><i class="fab fa-node-js fa-3x">font awesone manquant</i></h1>
            <hr>
            <a class="btn btn-primary btn-block" href="/authentificationsession/enregistre">Enregistrement</a>
            <a class="btn btn-secondary btn-block" href="/authentificationsession/login">Login</a>
            <a class="btn btn-info btn-block" href="/authentificationsession/test">TestSession</a>
        </div>
    </div>
</div>

<% include ../footer %>
