<% include ./../../views/header %>

<section class="section">
  <div class="container has-text-centered">
    <h2 class="title">Merci pour votre enregistrement.</h2>
    <h3 class="subtitle">Vous allez recevoir un mail pour confirmer votre adresse et vous connecter.</h3>
  </div>
</section>

<% include ./../../views/footer %>
