<% include ./../../views/header %>

<section class="section">
  <div class="container has-text-centered">
    <h2 class="title">Merci pour votre confirmation.</h2>
    <h3 class="subtitle">Vous pouvez maintenant vous connecter avec le compte <span class="has-text-primary"><%= typeof email != 'undefined' ? email : 'que vous avez enregistré' %></span>.</h3>
    <div class="buttons is-centered">
      <a class="button is-dark" href="/connexion">Se connecter</a>
    </div>
  </div>
</section>

<% include ./../../views/footer %>
