<% include ./../../views/header %>

<section class="section">
  <div class="container has-text-centered">
    <div class="columns is-centered">
      <div class="column is-5 is-4-desktop">
        <% include ./../../views/messages/erreurs %>
        <form
          action="/reinitialisationmotdepasse/<% if ( typeof uuid != 'undefined' ) { %><%= uuid %><% } else { %>"" <% } %>"
          method="post">
          <div class="field">
            <div class="control">
              <input class="input" type="password" name="motdepasse" placeholder="Mot de passe" value=<% if ( typeof motdepasse != 'undefined' ) { %> "<%= motdepasse %>" <% } else { %> "" <% } %> required>
                </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input" type="password" name="motdepasseconfirm" placeholder="Confirmez le mot de passe" value=<% if ( typeof motdepasseconfirm != 'undefined' ) { %> "<%= motdepasseconfirm %>" <% } else { %> "" <% } %> required>
                  </div>
              </div>
              <div class="field">
                <button class="button is-primary is-fullwidth">Enregistrer ce mot de passe</button>
              </div>
        </form>
      </div>
    </div>
  </div>
</section>

<% include ./../../views/footer %>
