<% include ./../../views/header %>

<section class="section">
  <div class="container has-text-centered">
    <h2 class="title">Merci.</h2>
    <h3 class="subtitle">Vous allez recevoir un mail pour définir un nouveau mot de passe.</h3>
  </div>
</section>

<% include ./../../views/footer %>
