<% include ./../../views/header %>

<section class="section">
  <div class="container has-text-centered">
    <h2 class="title">Merci.</h2>
    <h3 class="subtitle">Votre mot de passe à bien été mis à jour.</h3>
    <div class="buttons is-centered">
      <a class="button is-dark" href="/connexion">Se connecter</a>
    </div>
  </div>
</section>

<% include ./../../views/footer %>
