<% include ../../../views/header %>

<h2>actions directement sur le serveur :</h2>

<form action="/action-serveur" method="POST">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="message à mettre sur le serveur" name="message">
  </div>
</form>

<br>
<hr>

<ul>
  <% retourlog.forEach(element => { %>
  <li><%= element %> </li>
  <% })%>
</ul>

<br>

<% include ../../../views/footer %>
