<% if(typeof erreursDuFormulaire != 'undefined'){ %>
<% erreursDuFormulaire.forEach( (erreur) => { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <%= erreur.msg %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% }) %>
<% } %>

<% if(typeof nonConnecté != 'undefined'){ %>
<% nonConnecté.forEach( (erreur) => { %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <%= erreur.msg %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% }) %>
<% } %>
